<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="fonts/style.css">
    <title>Agregar Contenido</title>
</head>
<body>
        <div id="app3">
            <div class="container">
              <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd !important;">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                        </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a href="index.html"><span class="icon-home">Inicio</span></a>
                        </li>
                        <h5>Agregar Contenido</h5>
                      </ul>
                      
                    </div>
              </nav>
              <div class="cabecera">
                <input class="agregar_foto" type="file">
              </div>
              <textarea class="agregar_parrafo" id="textarea" placeholder="Agrega un contenido sobre el lugar que publicas" v-model="comentario"></textarea>
              <button class="comentar" value="publicar" id="boton" @click="addComentario">Publicar</button>
              <li v-for="com of coments">
                {{com.usuario}}
              </li> 
            </div>
        </div>        
    <script src="src/vue.js"></script>
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/archivo.js"></script>
</body>
</html>